name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - README.md
      - LICENSE.md
      - LICENSE

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/aws-imds-v1-ssrf-demo:latest .

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/aws-imds-v1-ssrf-demo:latest
